/**
 * Compounds / elements
 */
$carbon: #7e685a;
$carbonBorder: #c99d80;

$methane: #ffcc00;
$methaneBorder: #ffe9ab;

$oxygen: #66ccff;
$oxygenBorder: #c4e4fc;

$hydrogen: #ff6666;
$hydrogenBorder: #fca7a7;

$ammonia: #9933ff;
$ammoniaBorder: #d0acf8;

$phosphite: #00cc99;
$phosphiteBorder: #a6ffe4;
